div#web_container { 
	margin:auto; 
	width:100%; 
    height:100%
	text-align:left;
}
body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	font-weight: normal;
}
p {
	color: #252525;
	line-height: 24px;
	font-size: 18px;
}
div#web_header {
    width:100%;
    height:auto;
	margin: 0 auto;
	padding: 0px 0 5px;
	text-align: center;
}
div#web_maincontent {
	margin: 0 auto;
	width:100%;
	height:100%;
	line-height: 24px;
	text-align: left;
	word-wrap: break-word;
}
#web_maincontent h3{
	color: #00BFFF;
}
#web_maincontent p{
	color: #252525;
	font-size: 14px;
}
#web_maincontent hr{
	  border-top: 1px solid #00BFFF;
}
#web_header hr {
    height: 1px;
    border: 0;
    border-top: 4px solid #00BFFF;
}
#web_maincontent  ul{
	font-size: 18px;
}
#web_maincontent form {
    display: inline;
}

